

.headlineDiv h1{
    font-size: 80px;
    padding: 0px 30px;
}


.secondLineDiv p{
    font-size: 28px;
    padding: 0 40px;
}

.button-navbar{
    width: 120px;
    height: 50px;
    margin: 0px 30px;
}
